<h1>HOME</h1>
 <table style="width:30%">
  <tr>
    <th style="padding: 10px"> Sara Izquierdo </th>
    <th style="padding: 10px"> Amanda Verdugo </th>
    <th style="padding: 10px"> Jesus Velázquez </th>
    <th style="padding: 10px"> Jordi Cases </th>
  </tr>
  <tr>
    <td>Funcionalitat de Login</td>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
  <tr>
    <td>Info Repositori</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
  	<td>Documentació de la API</td>
  	<td></td>
  	<td></td>
  	<td></td>
  </tr>
  <tr>
  	<td>Attachments</td>
  	<td></td>
  	<td></td>
  	<td></td>
	</tr>
	<tr>
  	<td>Vote/Watch</td>
  	<td> - </td>
  	<td> - </td>
  	<td> - </td>
  </tr>
</table>

<a href="issues">Issue Supertracker</a>