<h1>HOME</h1>
 <table style="width:30% ">
  <tr>
    <th style="padding: 10px"> Sara Izquierdo </th>
    <th style="padding: 10px"> Amanda Verdugo </th>
    <th style="padding: 10px"> Jesus Velázquez </th>
    <th style="padding: 10px"> Jordi Cases </th>
  </tr>

  <tr>
    <td>Funcionalitat de Register/Login</td>
    <td>Info del Repo</td>
    <td>Documentació de la API</td>
    <td>Funcionalitat d'Attachments</td>
  </tr>

  <tr>
    <td>Implementacio de les crides a la API</td>
    <td>Documentacio de la API</td>
    <td>Implementacio de les crides a la API</td>
    <td>Implementacio de les crides a la API</td>
  </tr>

  <tr>
  	<td>-</td>
  	<td>Implementacio de les crides a la API</td>
  	<td>Reconeixement amb API-Keys</td>
  	<td>Rexoneixement amb API-Keys </td>
  </tr>
  </tr>
</table>

<h3><a href="issues">Heroku</a></h3>
